.grid-container {
    width: 33.33vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 12px; /* Padding around the edge of the screen */
}

.main-grid {
    display: grid;
    align-self: center;
  /* Creates 5 equal-width columns that scale with screen width */
    grid-template-columns: repeat(5, 1fr);
  
  /* Creates 6 equal-height rows that scale with screen height */
    grid-template-rows: repeat(6, 1fr);
  
  /* Makes the grid container fill its wrapper entirely */
    width: 100%;
    height: 100%;
  
  /* Gap scales dynamically between 8px and 16px depending on screen size */
    gap: 6px
}

.letter-box {
    background-color: lightgray;
    color: white;
    border-radius: 4px;
  
  /* Flexbox inside the grid item just to center the text perfectly */
    display: flex;
    align-items: center;
    justify-content: center;
  
  /* Dynamic font sizing so text scales down on small mobile screens */
    font-size: clamp(1.65rem, 1vw, 1.9rem);
    font-weight: bold;
    padding: 2px;
}

.pop-animation {
  animation: popEffect 0.3s ease-out;
}

.shake {
  animation: shake 200ms ease-in-out;
}

@keyframes shake {
  0%,100% { transform: translateX(0); }
  20%, 60% { transform: translateX(-4px); }
  40%, 80% { transform: translateX(4px); }
}

@keyframes popEffect {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15); /* Pop up */
  }
  100% {
    transform: scale(1); /* Return to normal size */
  }
}

.currentGuess {
  color: black !important;
  background-color: lightgray;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.gray {
  background-color: gray;
}